USE [master]
GO
/****** Object:  Database [QL_CuaHangGiay]    Script Date: 04/11/2022 3:44:58 CH ******/
CREATE DATABASE [QL_CuaHangGiay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_CuaHangGiay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QL_CuaHangGiay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_CuaHangGiay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QL_CuaHangGiay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_CuaHangGiay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_CuaHangGiay]
GO
/****** Object:  Table [dbo].[ChiTietSP]    Script Date: 04/11/2022 3:44:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSP](
	[MaSP] [nvarchar](50) NOT NULL,
	[Size] [float] NULL,
	[MauSac] [nvarchar](50) NULL,
	[ChatLieu] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChiTietSP] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 04/11/2022 3:44:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[NgayBan] [date] NULL,
	[MaKH] [nvarchar](50) NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonCT]    Script Date: 04/11/2022 3:44:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonCT](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[SoLuong] [nvarchar](50) NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
	[MaKM] [nvarchar](50) NULL,
	[TenKM] [nvarchar](255) NULL,
 CONSTRAINT [PK_HoaDonCT] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 04/11/2022 3:44:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 04/11/2022 3:44:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [nvarchar](50) NOT NULL,
	[TenKM] [nvarchar](255) NULL,
	[GiamGia] [float] NULL,
	[NgayBD] [date] NULL,
	[NgạyKT] [date] NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 04/11/2022 3:44:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 04/11/2022 3:44:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[SDT] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Hinh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 04/11/2022 3:44:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](50) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[SoLuong] [nvarchar](50) NULL,
	[Gia] [float] NULL,
	[MaNCC] [nvarchar](50) NULL,
	[TenNCC] [nvarchar](50) NULL,
	[Anh] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 04/11/2022 3:44:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaNV] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](50) NULL,
	[role] [bit] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietSP] ([MaSP], [Size], [MauSac], [ChatLieu]) VALUES (N'SP001', 38, N'Nâu', N'Da')
INSERT [dbo].[ChiTietSP] ([MaSP], [Size], [MauSac], [ChatLieu]) VALUES (N'SP002', 45, N'Trắng', N'Vải')
INSERT [dbo].[ChiTietSP] ([MaSP], [Size], [MauSac], [ChatLieu]) VALUES (N'SP003', 42, N'Đen', N'Vải')
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [NgayBan], [MaKH], [TongTien]) VALUES (N'HD001', N'NV001', CAST(N'2022-03-12' AS Date), N'KH001', 3200000)
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [NgayBan], [MaKH], [TongTien]) VALUES (N'HD002', N'NV002', CAST(N'2012-12-24' AS Date), N'KH002', 975000)
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [NgayBan], [MaKH], [TongTien]) VALUES (N'HD003', N'NV003', CAST(N'2022-01-23' AS Date), N'KH003', 1350000)
GO
INSERT [dbo].[HoaDonCT] ([MaHD], [MaSP], [TenSP], [SoLuong], [DonGia], [ThanhTien], [MaKM], [TenKM]) VALUES (N'HD001', N'SP001', N'giày nike air force 1', N'2', 4000000, 3200000, N'KM001', N'Ngày hội sinh viên')
INSERT [dbo].[HoaDonCT] ([MaHD], [MaSP], [TenSP], [SoLuong], [DonGia], [ThanhTien], [MaKM], [TenKM]) VALUES (N'HD002', N'SP002', N'JORDAN 1', N'3', 1500000, 975000, N'KM002', N'Flash Sale')
INSERT [dbo].[HoaDonCT] ([MaHD], [MaSP], [TenSP], [SoLuong], [DonGia], [ThanhTien], [MaKM], [TenKM]) VALUES (N'HD003', N'SP003', N'Puma RS-X3', N'5', 2250000, 1350000, N'KM003', N'Black Friday')
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (N'KH001', N'Nguyễn Thanh Tùng', N'0879654321', N'Thái Bình')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (N'KH002', N'Lương Bích Hữu', N'0264564566', N'Tiền Giang')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (N'KH003', N'Lê Quang Hải Tú ', N'0985674576', N'TP Hồ Chí Minh')
GO
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [GiamGia], [NgayBD], [NgạyKT], [GhiChu]) VALUES (N'KM001', N'Ngày hội sinh viên', 20, CAST(N'2022-12-01' AS Date), CAST(N'2022-12-07' AS Date), NULL)
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [GiamGia], [NgayBD], [NgạyKT], [GhiChu]) VALUES (N'KM002', N'Flash Sale', 35, CAST(N'2022-12-23' AS Date), CAST(N'2022-12-24' AS Date), NULL)
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [GiamGia], [NgayBD], [NgạyKT], [GhiChu]) VALUES (N'KM003', N'Black Friday', 40, CAST(N'2022-02-25' AS Date), CAST(N'2022-02-27' AS Date), NULL)
GO
INSERT [dbo].[NCC] ([MaNCC], [TenNCC]) VALUES (N'NCC001', N'Nike')
INSERT [dbo].[NCC] ([MaNCC], [TenNCC]) VALUES (N'NCC002', N'Fila')
INSERT [dbo].[NCC] ([MaNCC], [TenNCC]) VALUES (N'NCC003', N'Adidas')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [SDT], [Email], [Hinh], [DiaChi]) VALUES (N'NV001', N'Nguyễn Văn A', 1, N'0987654321', N'a123q@gmail.com', N'nguyenvana.png', N'Kiên Giang')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [SDT], [Email], [Hinh], [DiaChi]) VALUES (N'NV002', N'Trần Văn C', 0, N'0567567320', N'vancc123@gmail.com', N'tranvanc.png', N'Cà Mau')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [SDT], [Email], [Hinh], [DiaChi]) VALUES (N'NV003', N'Trần Thị Thơ', 0, N'0453453492', N'thitho123@gmail.com', N'thitho.png', N'Hà Nội')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SoLuong], [Gia], [MaNCC], [TenNCC], [Anh], [GhiChu]) VALUES (N'SP001', N'Giày nike air force 1', N'500', 2000000, N'NCC001', N'Nike', N'nike.png', N'không có')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SoLuong], [Gia], [MaNCC], [TenNCC], [Anh], [GhiChu]) VALUES (N'SP002', N'JORDAN 1', N'400', 500000, N'NCC005', N'Nike', N'jordan1.png', NULL)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SoLuong], [Gia], [MaNCC], [TenNCC], [Anh], [GhiChu]) VALUES (N'SP003', N'Puma RS-X3', N'300', 450000, N'NCC003', N'Puma', N'puma1.png', NULL)
GO
INSERT [dbo].[TaiKhoan] ([MaNV], [Username], [Pass], [role]) VALUES (N'NV001', N'nguyenvana', N'123', 1)
INSERT [dbo].[TaiKhoan] ([MaNV], [Username], [Pass], [role]) VALUES (N'NV002', N'tranvanc', N'456', 0)
INSERT [dbo].[TaiKhoan] ([MaNV], [Username], [Pass], [role]) VALUES (N'NV003', N'thitho', N'123abc', 0)
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSP_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietSP] CHECK CONSTRAINT [FK_ChiTietSP_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDonCT]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonCT_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[HoaDonCT] CHECK CONSTRAINT [FK_HoaDonCT_HoaDon]
GO
ALTER TABLE [dbo].[HoaDonCT]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonCT_KhuyenMai] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[HoaDonCT] CHECK CONSTRAINT [FK_HoaDonCT_KhuyenMai]
GO
ALTER TABLE [dbo].[HoaDonCT]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonCT_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[HoaDonCT] CHECK CONSTRAINT [FK_HoaDonCT_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NCC]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
USE [master]
GO
